@model IEnumerable<OrderViewModel>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Number</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
        {
                 <tr>
          <th scope="row">@item.Id</th>
                    <td>@item.OrderNo</td>
                    <td>@item.ProductId</td>
                    <td>@item.Quantity</td>
        </tr>
        }

  </tbody>
</table>
